.input-container, .bookmark-container {
  font-family: "Open sans", sans-serif;
  font-weight: 800;
  /*text-align: center;*/
}

h1, h2, a {
  font-family: "Open sans", sans-serif;
  font-weight: 800;
}

h1 {
  color: #FFFFFF;
  font-size: 35px;
  text-align: center;
}

img {
  padding-top: 20px;
}

.input-container {
  background-color: #455A64;
  height: 335px;
}

input {
  border: 2px solid #CFD8DC;
  font-size: 30px;
  padding-left: 10px;
  font-size: 33px;
  text-indent: 10px;
  font-weight: 400;
}

:placeholder-shown {
  font-size: 35px;
  padding-left: 10px;
  font-weight: 300;
  color: #F2F4F4;
  text-align: left;
}

.create {
  background-color: #FFC107;
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 700;
  border: none;
  outline: none;
  margin-bottom: 2px;
  width: 90%;
}

.create:hover {
  background-color: #FFD773;
}

.create:hover:disabled {
  background-color: #FFC107;
}

input, .create {
  width: 280px;
  height: 50px;
  margin: 30px auto;
  display: block;
  width: 85%;
}

.bookmark-container {
  background-color: #CFD8DC;
  height: 100%;
  width: 100%;
  float: right;
}

/*Bookmark info*/

.bookmark {
  width: 90%;
  height: 175px;
  margin: 15px auto;
  border: 2px solid #607D8B;
  background-color: #FFFFFF;
}

h2 {
  margin: 10px 20px;
  color: #455A64;
  font-weight: 400;
  text-align: left;
  font-size: 30px;
}

hr {
  margin: 0px 15px;
  border-style: none;
  border: 1px solid #CFD8DC;
}

a {
  color: #607D8B;
  margin: 24px 15px;
  /*text-decoration:underline;*/
  text-decoration: underline solid #F2F4F4;
  font-weight: 300;
  text-align: left;
  display: inline-block;
  font-size: 23px;
}

.reviewed, .delete {
  margin: 10px;
  display: inline-block;
  border: none;
  /*border-bottom: 1px solid #F2F4F4;*/
  /*text-decoration-color: F2F4F4;*/
  text-decoration: underline solid #F2F4F4;
  background-color: #FFFFFF;
  outline: none;
  color: #455A64;
  font-size: 21px;
  font-weight: 200;
}

.reviewed:hover, .delete:hover {
  background-color: #F2F4F4;
}

.reviewed {
  float: left;
}

.delete {
  float: right;
}

.read {
  background-color: #FF8784;
}

.read:hover {
  background-color: #FDB8B7
}

@media screen and (min-width: 900px) {
  body {
    background-color: magenta;
  }

  .input-container, .bookmark-container {
    width: 50%;
  }
  .input-container {
    float: left;
    height: 100%;
  }

  h1 {
    font-size: 60px;
    padding-top: 100px;
  }

  img {
    width: 90px;
  }

  input {
    height: 40px;
  }

  .create {
    height: 38px;
  }

  input, .create {
    margin: 55px auto;
  }
}
